/*
	James Bordine II - CSS Library Media
	DESC: This file handles basic style updating depending on screen size. It
	currently focuses on font size only.
*/
@media screen and (min-width: 600px){
	body{
		font-size: 1.125em; /* 18px */
		/* line-height: 18px; */
	}
}
@media screen and (min-width: 900px){
	body{
		font-size: 1.25em; /* 20px */
		/* line-height: 20px; */
	}
}
@media screen and (min-width: 1200px){
	body{
		font-size: 1.375em; /* 22px */
		/* line-height: 22px; */
	}
}
@media screen and (min-width: 1500px){
	body{
		font-size: 1.5em; /* 24px */
		/* line-height: 24px; */
	}
}
@media screen and (min-width: 1800px){
	body{
		font-size: 1.625em; /* 26px */
		/* line-height: 26px; */
	}
}
